.textarea {
  margin: 10px 0;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #b5b6ba;
  font-family: Roboto, sans-serif;
  color: #a1a1a1;
  font-size: 1rem;
}

.textarea:focus {
  outline: 1px auto #b5b6ba;
}

.textarea::placeholder {
  color: #a1a1a1;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}
