.button {
  background-color: #e6362d;
  border: none;
  color: #fff;
  padding: 8px 15px;
  border-radius: 4px;
  font-size: 19px;
  font-weight: 300;
  font-family: inherit;
  cursor: pointer;
}

.button:hover {
  background-color: #d11616;
}

.secondary {
  background-color: #1f1331;
}

.secondary:hover {
  background-color: #402765;
}

.button:focus,
.secondary:focus {
  border: none;
  outline: none;
}
