.main {
    color: var(--color-text-primary);
    margin: auto;
    grid-area: content;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main section {
    width: 100%;
}

.layout-container {
    display: grid;
    grid-template: 'header' 67px 'notification' auto 'subheader' auto 'content' 1fr 'footer' 104px;
    height: 100%;
    position: relative;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.layout-container.landing {
    grid-template: 'header' 67px 'notification' auto 'subheader' auto 'content' 1fr 'footer' auto;
    overflow: hidden;
    height: 100vh;
}

.layout-container footer {
    grid-area: footer;
}

.layout-container header {
    grid-area: header;
}

.layout-container > section {
    grid-area: notification;
}

.subheader {
    grid-area: subheader;
}

.hide {
    display: none;
}