.main {
    color: var(--color-text-primary);
    margin: auto;
    grid-area: main;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main > section {
    width: 100%;
}

.layout-container {
    display: grid;
    grid-template: 'header' 67px 'subheader' auto 'main' 1fr 'footer' 104px / 1fr;
    height: 100%;
    position: relative;
    overflow: overlay;
    scroll-behavior: smooth;
}

.layout-container.landing {
    grid-template: 'header' 67px 'main' 1fr 'footer' 60px / 1fr;
    overflow: hidden;
    height: 100%;
}

.layout-container footer {
    grid-area: footer;
}

.layout-container header {
    grid-area: header;
}

.subheader {
    grid-area: subheader;
}

.hide {
    display: none;
}
  