.sub-header {
  background: #1f1331;
  display: flex;
  height: 200px;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

.title {
  margin: 0;
  padding: 20px;
  color: #bcbec0;
  font-weight: 100;
  font-size: 2.1rem;
}
.title-box {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}
