.social-icons {
  display: flex;
  justify-content: center;
  margin: 0;
}

.social-icon {
  margin: 10px;
  cursor: pointer;
}

.social-icon.primary::part(svg),
.social-icon.secondary::part(svg):hover {
  fill: var(--color-primary-600);
}

.social-icon.secondary::part(svg),
.social-icon.primary::part(svg):hover {
  fill: var(--color-secondary-500);
}
