.collapsed {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 0;
  margin: 0;
  justify-content: center;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.is-expanded {
  overflow: hidden;
  height: calc(100vh - 50px);
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.list {
  list-style-type: none;
  padding: 0;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  display: block;
  margin: 0px 0px;
  width: 100%;
  color: #bcbec0;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 45px;
  padding-left: 20px;
}

.item:hover {
  color: #e7531e;
}

.collapsed .item {
  display: none;
}

.is-expanded .item {
  display: flex;
  z-index: 2;
}

.is-expanded .item a {
  display: block;
  width: 100%;
  z-index: 2;
}

.collapsed .stars {
  display: none;
}

.is-expanded .stars {
  display: block;
}

.collapsed .social {
  display: none;
}

.is-expanded .social {
  display: flex;
  margin-bottom: 60px;
}

.social mars-icon::part(svg) {
  fill: transparent !important;
  stroke: var(--color-tertiary-500);
  stroke-width: 15px;
}

.social mars-icon::part(svg):hover {
  fill: var(--color-tertiary-500) !important;
  stroke-width: 0;
}
