.collapsed {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  height: 0;
  margin: 0;
  justify-content: center;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.is-expanded {
  overflow: hidden;
  height: calc(100vh - 60px);
  /* approximate max height */
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.list {
  list-style-type: none;
  padding: 0;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  margin: 0px 0px;
  width: 100%;
  color: #bcbec0;
  font-size: 25px;
  font-weight: 300;
  line-height: 45px;
  padding-left: 20px;
}

.item:hover {
  color: #e7531e;
}

.collapsed .item {
  display: none;
}

.is-expanded .item {
  display: flex;
  z-index: 1;
}

.is-expanded .item a {
  background: #1f1331;
  z-index: 1;
}

.icon {
  fill: #e7531e;
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}

.icon:hover {
  fill: #b34219;
}

.collapsed .stars {
  display: none;
}

.is-expanded .stars {
  display: block;
}
