.construction-box {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    padding: 20px;
    font-size: 20px;
}

.construction-title {
    font-weight: 500;
    margin: 0;
}

.construction-text {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 20px;
}

.construction-img {
    max-width: 300px;
    align-self: center;
    width: 100%;
}