.header {
  background-color: var(--color-bg-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  z-index: 2;
  position: fixed;
  min-height: 65px;
}

.logo {
  height: 60px;
  margin-left: 17px;
  padding-top: 8px;
}

.header-content {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.icon::part(svg) {
  fill: var(--color-tertiary-500);
}

.icon::part(svg):hover {
  fill: var(--color-tertiary-600);
}

.right-box {
  float: right;
  margin: 20px;
  cursor: pointer;
}

.switch {
  display: inline-block;
  --custom-switch-color-bg: var(--color-tertiary-500);
  --custom-switch-color-bg-hover: var(--color-tertiary-600);
  --custom-switch-color-bg-checked: var(--color-secondary-600);
  --custom-switch-color-bg-checked-hover: var(--color-secondary-700);
}

.icon-switch::part(svg) {
  fill: #f3b7b4;
}
