.about-image {
    max-width: 330px;
    float: left;
    width: 100%;
}

.about-text {
    line-height: 28px;
    font-size: 18px;
    margin: 10px 0;
}

.text-button {
    cursor: pointer;
    color: var(--color-secondary);
}

.presentation {
    min-height: 275px;
}

.abilities {
    margin-bottom: 20px;
}

.abilities h3 {
    margin: 10px 0 0 0;
}

.abilities h4 {
    font-size: 18px;
    margin: 10px 0;
}

.progress-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.progress-bar {
    width: 300px;
}

@media (max-width: 414px) {
    .progress-bar {
        width: 100%;
    }
}