.validate-span {
  color: #e6362d;
}

.invalid-input {
  color: #e6362d;
  border: 1px solid #e6362d !important;
  border-radius: 5px;
}

.invalid-input::placeholder {
  color: #e6362d !important;
}

.validate-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: end;
}

.validate-span,
.sended-span {
  margin-top: 20px;
}

.sended-span {
  font-size: 1.1rem;
}

.button-send {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.input {
  margin-bottom: 15px;
}
