.form-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1024px;
  padding: 0 20px;
}

.validate-span {
  color: var(--color-secondary);
}

.invalid-input {
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary) !important;
  border-radius: 5px;
}

.invalid-input::placeholder {
  color: var(--color-secondary) !important;
}

.validate-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: end;
}

.validate-span,
.sended-span {
  margin-top: 20px;
}

.sended-span {
  font-size: 1.1rem;
}

.button-send {
  width: 100%;
  max-width: 600px;
  margin-left: 20px;
}

.input {
  margin: 15px 0;
  width: 100%;
}

.input-name, .input-email {
  width: 45%;
}

.contact-message {
  margin: 15px 0;
  font-size: 1.1rem;
}

.form-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 600px;
}

.form-box h3 {
  width: 100%;
  padding: 0 20px;
}

@media (max-width: 780px) {
  .input-name, .input-email {
    width: 100%;
  }

  .form-info {
    justify-content: center;
  }
}

@media (max-width: 946px) {
  .form-box {
    max-width: 100%;
  }

  .form-info {
    justify-content: center;
  }
}