.container {
    max-width: 1024px;
}

.courses-list {
    margin: 0 20px;
}

.courses-list h3 {
    color: var(--color-quaternary);
    font-size: 24px;
    font-weight: 600;
}

.courses-list ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.courses-list li {
    display: grid;
    grid-template: 'title title title title' 'type type place year' / 1fr;
    justify-content: space-between;
    align-items: end;
    grid-gap: 10px;
    margin-bottom: 20px;
    max-width: 320px;
    width: 100%;
}

.course-type, .course-place, .course-year {
    font-size: 1rem;
    color: white;
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 6px;
    line-height: 1;
}

.course-list-title {
    grid-area: title;
}

.course-type {
    grid-area: type;
    background-color: var(--color-tertiary);
}

.course-place {
    grid-area: place;
    background-color: var(--color-quaternary);
}

.course-year {
    grid-area: year;
    background-color: var(--color-cobalto-500);
}

.talk-element, .course-element {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: 0 20px;
}

.talk-title, .course-title {
    color: var(--color-tertiary);
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}

.talk-site, .course-site {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--color-tertiary-400);
}

.talk-box, .course-box {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.talk-description, .course-description {
    font-size: 1.3rem;
    line-height: 1.5;
}

.course-title {
    padding: 0;
}

.talk-description a, .course-description a {
    color: var(--color-secondary);
}

.course-description {
    padding: 0 20px;
}

.principal-title {
    margin: 20px 20px 0 20px;
}

.video {
    height: 250px;
    width: calc(100% + 40px);
    margin: 0 -20px;
}

.container h2 {
    color: var(--about-color-h3);
    margin: 20px 0;
    font-size: 2rem;
    font-weight: 600;
    border-left: 5px solid #E6362D;
    padding-left: 10px;
    line-height: .8;
    margin-left: 20px;
}

@media (max-width: 900px) {
    .talk-element {
      max-width: 48%;
    }
}

@media (max-width: 650px) {
    .talk-element {
        max-width: 100%;
        border-bottom: 1px solid var(--border-color);
    }

    .courses-list li {
        max-width: 100%;
    }
}

@media screen and (min-width: 900px) {    
    .courses-list li {
        background: var(--color-bg-home-second);
        padding: 15px;
        border-radius: 6px;
    }
}