@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: var(--color-background, #1f1331);
  height: 100%;
  --color-text-primary: #170E25;
  --color-bg-secondary: #1f1331;
  --color-bg-home-first: #1f1331;
  --color-bg-home-second: #170E25;
  --color-divider-primary: #eaeaea;
  --color-primary: #5f3993;
  --color-primary-200: #BBA3DB;
  --color-primary-400: #2e1b47;
  --color-primary-600: #472B6E;
  --color-secondary: #e6362d;
  --color-secondary-400: #951f19;
  --color-tertiary: #e7531e;
  --color-tertiary-400: #a54522;
  --color-quaternary: #F29408;
  --border-color: #5F3993;
  --color-text-home-about-me: var(--color-primary-200);
  --about-color-h3: #E0E3E6;
  --progress-bar-color-title: #E0E3E6;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(90, 90, 90, .5);
  border-radius: 100px;
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--border-color);
}

html.light-theme, html.light-theme body {
  background-color: white;
  --color-background: white;
  --color-text-primary: #170E25;
  --color-bg-secondary: #1f1331;
  --color-divider-primary: #eaeaea;
  --color-bg-home-first: #F9FAFB;
  --color-bg-home-second: #EBEDEF;
  --border-color: #CCD1D7;
  --color-text-home-about-me: var(--color-primary-400);
  --about-color-h3: #E7531E;
  --progress-bar-color-title: #F29408;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html.dark-theme, html.dark-theme body {
  --color-background: #1f1331;
  --color-bg-secondary: #1f1331;
  --color-text-primary: #ccd1d7;
  --color-divider-primary: #0c0712;
}

#loading {
  height: 100vh;
  background: rgba(0, 0, 0, 0.52);
  z-index: 100;
}

.sc-dNLxif {
  background-color: var(--color-background-loading, var(--color-tertiary)) !important;
}

#__next {
  height: 100%;
}

@media (max-width: 600px) {
  html.light-theme, html.light-theme body {
    --color-text-primary: #000;
  }

  ::-webkit-scrollbar {
    width: 0;
  }
}
