@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
  background-color: var(--color-background, #1f1331);
  --color-text-primary: #1f1331;
  --color-bg-secondary: #1f1331;
  --color-divider-primary: #eaeaea;
}

body.light-theme {
  background-color: white;
  --color-background: white;
  --color-text-primary: #1f1331;
  --color-bg-secondary: #1f1331;
  --color-divider-primary: #eaeaea;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body.dark-theme {
  --color-background: #1f1331;
  --color-bg-secondary: #1f1331;
  --color-text-primary: #ccd1d7;
  --color-divider-primary: #0c0712;
}
