@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
  background-color: var(--color-background, #1f1331);
  --color-text-primary: #1f1331;
  --color-bg-secondary: #1f1331;
  --color-divider-primary: #eaeaea;
  --color-primary: #5f3993;
  --color-primary-400: #2e1b47;
  --color-secondary: #e6362d;
  --color-tertiary: #e7531e;
  --color-secondary-400: #951f19;
  --color-tertiary-400: #a54522;
}

body.light-theme {
  background-color: white;
  --color-background: white;
  --color-text-primary: #1f1331;
  --color-bg-secondary: #1f1331;
  --color-divider-primary: #eaeaea;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body.dark-theme {
  --color-background: #1f1331;
  --color-bg-secondary: #1f1331;
  --color-text-primary: #ccd1d7;
  --color-divider-primary: #0c0712;
}

#loading {
  height: 100vh;
  background: rgba(0, 0, 0, 0.52);
}

.sc-dNLxif {
  background-color: var(--color-background-loading, var(--color-tertiary)) !important;
}
