.container {
    max-width: 1024px;
    padding: 0 20px;
}

.website-text {
    font-size: 1.3rem;
    margin: 15px 0px;
}

.image-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.website-image {
    margin: 15px;
    max-width: 250px;
    width: 40%;
}